*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: black;
}

nav {
    color: #FFF;
    max-width: 1150px;
    margin: 0 auto;
}

ul {
    text-align: right;
}

li {
    display: inline-block;
    margin: 20px 20px;
}

li a {color: #FFF;}

.logo {
    margin: 10px 5px;
    float: left;
    padding: 7px 10px;
    border: none;
    border: solid #FFF;
}

h1,h2{
    margin: 40px 0;
}

main{
    max-width: 1150px;
    margin: auto;
}

main .text{
    text-align: justify;
}

main img{
    width: 300px;
}

.imageFlottanteDroite {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}

.imageFlottanteGauche {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}